.container {
	margin: 0 auto;
	width: 600px;
    padding: 10px;
    border-radius: 5px;
    background-color: #59d177
}
.header, h4 {
    text-align: center;
}

.movie-getter {
    text-align: center;    
}