.container {
	margin: 0 auto;
	width: 600px;
    padding: 10px;
    background-color: #59d177
}
.header, h4 {
    text-align: center;
}

#movies {
    text-align: right;
    padding-left: 60px;
    
}